DB_SOURCE_IDP_LOCAL=
DB_SOURCE_IDP=
MIGRATION_URL=
HTTP_SERVER_ADDRESS_IDP=
GRPC_SERVER_ADDRESS_IDP=
TOKEN_SYMMETRIC_KEY=
ACCESS_TOKEN_DURATION=
REFRESH_TOKEN_DURATION=
SERVER_NAME=
CERT_PEM=
KEY_PEM=
CA_CERT_PEM=